<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8"/>
	<link href="/styles/style.css" rel="stylesheet">
	<link href="/styles/sno.style.css" rel="stylesheet">
    <link href="/styles/admission.style.css" rel="stylesheet">
	<link href="/styles/news.style.css" rel="stylesheet">
</head>