<div class="sno-page">
    <div class="sno-menu">
        <div class="sno-cp">
            <div class="snomenu-sf-h1 admissionManrope">Меню участника СНО</div>
            <form action="/menu/cigs">
                <button id="sno-b2m" type="submit">СИСТЕМА CIGS</button>
            </form>
            <form>
                <button id="sno-b2" type="submit">ИНСТРУКЦИИ</button>
            </form>
            <form>
                <button id="sno-b2" type="submit">СИСТЕМА PGS</button>
            </form>
            <form action="/">
                <button id="sno-b1" type="submit">ГЛАВНАЯ</button>
            </form>
        </div>
    </div>
</div>