<div class="sno-page">
    <div class="sno-first">
        <div class="sno-cp">
            <div class="s-Main-logo">
                <img src="https://i.imgur.com/t5bWzoF.png">
                <div class="sML-text2 admissionClassic">VORONEZH N.N.BURDENKO STATE MEDICAL UNIVERSITY</div>
            </div>
            <div class="sno-sf-h1 admissionManrope">Студенческое</div>
            <div class="sno-sf-h2 admissionManrope">Научное общество</div>
            <form action="/menu">
                <button id="sno-b1" type="submit">МЕНЮ УЧАСТНИКА</button>
            </form>
        </div>
    </div>
</div>